/*------------------ Images manager --------------*/
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable {
 /*    width : 97% !important;
    left  : 25px !important; */
}

#dialog{
    /* height: 90% !important; */
    /* height: 600px !important; */
}

#container {
    /* height  : 100% !important; */
    /* height  : auto !important; */
}


/*------------- resizing -----------------------*/        
/* #column-left {
    width      : 12%;
    height     : 550px;
}

#column-right {
    width      : 87%;
    height     : 550px;
}

#column-right a {
    padding    : 0;
} */