/* custom player skin */
.flowplayer {
    /*width : 50%;*/
    /*max-width : 800px;*/
}

.flowplayer .fp-controls {
    background-color : rgba(17, 17, 17, 1)
}

.flowplayer .fp-timeline {
    background-color : rgba(204, 204, 204, 1)
}

.flowplayer .fp-progress {
    background-color : rgba(0, 167, 200, 1)
}

.flowplayer .fp-buffer {
    background-color : rgba(249, 249, 249, 1)
}